/* Shared Styles */

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

.text_primary {
    color: #FD6E0A;
}

.btn_primary {
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 5px;
padding: 18px 35px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* Nav related design */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

nav a {
    text-decoration: none;
}

