/* Shared Styles */

/* W3 styles  */

.w3-container,
.w3-panel {
  padding: 0.01em 16px;
}
.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}
.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.w3-round-large {
  border-radius: 8px;
}
.w3-orange,
.w3-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important;
}
.w3-round-large {
  border-radius: 8px;
}
.w3-round-xlarge {
  border-radius: 16px;
}
.w3-round-xxlarge {
  border-radius: 32px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.text_primary {
  color: #fd6e0a;
}

.btn_primary {
  background-color: #fd6e0a;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  padding: 18px 35px;
}

/* Nav related design */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.nav_title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

nav a {
  text-decoration: none;
}

header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
  align-items: center;
}

/* Banner related design */

.banner_container {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}

.btn_contact {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  margin-left: 10px;
}

.banner_left_content {
  max-width: 585px;
}

.banner_right_content img {
  width: 500px;
  align-items: center;
}

.banner_gretting {
  color: #474747;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
}

.banner_title {
  margin-top: 5px;
  color: #181818;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner_para {
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* Main section design */

main,
.footer_container {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section design */

.about {
  margin: 130px 0;
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
}

.about_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.about_para {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.about_contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.about_conact_box p {
  margin: 0px;
}

.about_conact_box h4 {
  margin-top: 5px;
  color: #474747;
}

/* skill section design */

.skills {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 130px 0;
}

.skillset {
  width: 220px;
  border: 1px solid chocolate;
  padding: 30px 0 0 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px #fff8f3;
}

.skillset h3 {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skillset p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 30px 30px 0;
}

.skillset .icon {
  width: 44px;
  height: 44px;
}

/* Resume Section design  */

.resume_head {
  margin: 100px 0;
}

.education_experience_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.education_experience_container h1 {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.my_education {
  width: 500px;
}

.my_experience {
  width: 500px;
}

.education h2 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.education h4 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.education p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.experience h2 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.experience h4 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.experience p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

.download_btn {
  width: 250px;
  height: 65px;
  margin: auto;
  margin-bottom: 100px;
}

footer {
  height: 780px;
  background-color: #fff8f3;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.footer_right {
  padding-top: 200px;
}

.footer_right form input[type="text"],
input[type="email"],
textarea {
  width: 461px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

/* Responsive Design  */

.hide {
  display: none;
}



@media screen and (max-width: 576px) {
  .about {
    padding: 50px 30px;
  }
  .skill_head {
    width: 80%;
    margin: 0 auto;
  }
  .skills,
  .education_experience_container,
  .footer_container,
  .about_contact, nav, .banner_container {
    flex-direction: column;
  }

  .banner_container {
    flex-direction: column-reverse;
    padding-top: 150px;
  }
  header {
    background-image: none;
    padding-bottom: 100px;
  }
  .banner_right_content img {
    width: 100%;
    margin: auto;
  }
  .about_conact_box {
    margin: 20px;
  }
  .skillset {
    width: 80%;
    margin: 20px auto;
  }
  .footer_right, .footer_left {
    padding-top: 50px;
  }
}



/* iPhone 13  */

@media screen and (max-width: 370px) {
  .skills,
  .education_experience_container,
  .footer_container,
  .about_contact, nav, .banner_container {
    flex-direction: column;
  }

  nav {
    padding: 0 20px;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-right: 30px;
  }


  .banner_container {
    flex-direction: column-reverse;
    padding: 20px;
  }
  header {
    background-image: none;
  }

  .banner_left_content {
    width: 100%;
  }

  .banner_right_content {
    width: 80%;
  }

  .btn_primary {
    margin-bottom: 20px;
  }

  .banner_right_content img {
    width: 100%;
  }
  .my_education, .my_experience, .footer_container {
    width: 80%;
    margin: auto;
  }

  footer {
    padding-bottom: 50px;
  }

  .footer_right form input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
  
}